
<style>
  * {
      box-sizing: border-box;
  }
  
  #wrapper {
      display: grid;
      height: 100vh;
      grid-template-areas: "header"
                           "main"
                           "footer";
      max-width: 1200px;
  }

  link {
    /* Changes the color of the link URLs on your site */
    color: #0099FF;
  }
  a, a:link, a:visited {
    /* Changes the color of any link URL that's been visited before */
    color: #0099FF;
  }
  a:hover {
    /* Changes the color of the link URL when you hover over it */
    color: #FF9933;
    /* Changes the background color of the link URL when you hover over it */
    background-color: #0099FF;
  }
  body {
    /* Adds a background color to my site, or at least the content between the <body> tags */
    background-color: #f6f6f6;
    /* If you want to use a different font, make sure you update it here! */
    font-family: 'starkregular', Stark, sans-serif;
    /* Change the pixel size for your font */
    font-size: 16px;
    /* Align your text */
    vertical-align: bottom;
    /* Set the color of the text inside of the <body> tags */
    color: #505050;
  }

  h1, h2, h3 {
      font-weight: 700;
  }
  
  p {
      font-weight: 300;
  }
  
  header {
      grid-area: header;
      float: left;
      margin: 3rem 5rem 1rem 5rem;
  }
  
  main {
      grid-area: main;
      display: grid;
      grid-template-areas: "nav"
                           "preview"
                           "faceImage"
                           "about"
                           "skillsandquals"
                           "games"
                           "music"
                           "stories";
  }
  
  footer {
      grid-area: footer;
      transform: translateY(-175px);
  }
  
  footer h1 {
      margin-right: 3rem;
      margin-left: 3rem;
  }
  /* We will use the centering styling here for our <divs>, but it will only work when we use class=center */
  .center {
    margin: auto;
    width: 65%;
    padding: 10px;
  }
/* This code would center the content horizontally AND vertically */
/* You can try commenting out the above "center" code and un-commenting the below code to see the difference */
/*   .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  } */

  ul.menu, ul.relatedMenu { 
      list-style: none;
      margin: 3rem;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
  }
  
  .menu a, .relatedMenu a, .sourceLink {
      display: block;
      border: solid black 2px;
      margin-left: 5px;
      margin-right: 5px;
      padding: 10px;
      color: black;
      text-decoration: none;
      text-align: center;
      transition: transform 0.1s ease-in, background-color 0.5s linear;
      font-size: 50%;
  }

  .menu a:hover, .relatedMenu a:hover, .sourceLink:hover, .sourceLinkWhite:hover, .sourceLinkBlackToWhite:hover, .sourceLinkWhiteToBlack:hover {
  	background: lightgray;
  }
  
  .menu li {
      width: 33%;
  }

</style>

