<style>

* {
  box-sizing: border-box;
}

:root {
  --base-text-val: 16px;
  --header-font-family: stark-regular;
  --header-font-style: normal;
  --header-font-weight: 400;
  --header-font-transform: uppercase;
  --header-font-spacing: 0.2em;
  --header-font-height: 1.8em;
  --header-font-size: .9rem;
  --header-font-size-val: .9;
  --title-font-family: stark-regular;
  --title-font-style: normal;
  --title-font-weight: 400;
  --title-font-height: 1.325em;
  --title-font-spacing: normal;
  --title-font-transform: uppercase;
}

body {
  font-size: var(--base-text-val);
}

@media screen and (max-width: 767px) and(orientation: portrait) {
    .site-wrapper {
        font-size:calc((var(--header-font-size-val) - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px), screen and(max-width: calc(1944px - 1px)) and(orientation: landscape) {
    .site-wrapper {
        font-size:calc((var(--header-font-size-val) - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width: 1944px) {
    .site-wrapper {
        font-size:calc(var(--header-font-size-val) * 1rem)
    }
}

#site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  grid-area: header;
  position: fixed;
  margin: 3rem 5rem 1rem 5rem;
}

.header-top-bar-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  pointer-events: auto;
}

.header-inner-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

.header-display {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

.header-navigation-title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 67%;
  align-items: center;
}

.header-actions {
  flex-grow: 0;
  flex-shrink: 1;
  display: inline-flex;
  width: 33%;
  align-items: center;
}

.header-actions--right {
  justify-content: flex-end;
}

.header-navigation {
  width: 33%;
  flex: 1 1 33%;
}

.header-navigation .header-navigation-item:not(:last-child) {
  margin-right: 1.5vw;
}

.header-navigation-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.header-navigation-list>div {
  white-space: nowrap;
}

.header-navigation-item {
  font-family: var(--header-font-family);
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  line-height: var(--header-font-height);
  letter-spacing: var(--header-font-spacing);
  text-transform: var(--header-font-transform);
}

.header .header-navigation-wrapper-inner a, .header .language-item a {
  text-decoration: none;
  backface-visibility: hidden;
  padding: .1em 0;
}

.header-title {
  width: 34%;
  text-align: center;
  flex: 1 1 34%;
  backface-visibility: hidden;
}

.header-title-text {
  margin: 0;
  font-family: var(--title-font-family);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  line-height: var(--title-font-height);
  letter-spacing: var(--title-font-spacing);
  text-transform: var(--title-font-transform);
}

.header-actions .header-actions-action--social {
  display: flex;
}

.header-actions-action--social .header-actions--right {
  margin: 0;
}

.header-actions-action, .header-menu-actions-action {
  text-align: center;
  line-height: 1;
}

.header-actions--right .header-actions-action--social .icon:first-child {
  margin-left: 2.5vw;
}

.header-actions--right .header-actions-action--social .icon {
  width: 20px;
  height: 20px;
}

.header-actions-action .icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
}

.icon {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  line-height: 1;
}

@media only screen and (max-width: 799px) {
  .header-top-bar-wrapper {
    padding: 2vwmax;
  }
}

@media only screen and (pointer: coarse) and(max-width: 1024px), screen and(max-width: 799px) {
    .header-nav {
        display:none
    }
}
</style>
